# Leiningen
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

# DuckDB
*.db
*.wal

# Logs
*.log
/logs

# Mac
.DS_Store

# IDE folders
/.idea
/.vscode
/.calva
/.clj-kondo
/.lsp 